.Template1 {
    border-radius: 20px;
    background-image: linear-gradient(to right, #336 , #359);
    padding:20px;
    max-width: 70%;
    margin: auto;
    color:white;
    margin-top: 10px;
    min-height: 600px;
}

.Template1 h2 {

    color:white;
}


.Template1 h3 {

    color:white;
}

.TopMenu {
    margin-top: 10px;
    background-color: transparent;
    color:wheat;
    margin-right: 240px;
    text-align: right;
    min-height: 30px;
    width: 80%;
}

.TopMenu .Icon {
    width:40px;
    height:40px;
    margin:6px;
    color:white;
    cursor: pointer;
}

.Template1 .ConnectButton {

    background:#349;
    color:white;
    margin-top:20px;
    border-radius: 30px;
    min-width: 240px;
}


.Template1 .BuyButton {
    font-weight: 600;
    border-radius: 30px;
    background:#396;
    color:white;
    margin-top:20px;
    min-width: 40%;
}

.Template1 .Logo {
    width:40%;
    height:auto;
    border-radius:300px;
    border:5px solid #aab;
}


.Template1 .TicketImage {
    width:60%;
    height:auto;
    margin: auto;
}