.Template1 {
    border-radius: 20px;
    background-image: linear-gradient(to right, #336 , #359);
    padding:20px;
    max-width: 70%;
    margin: auto;
    color:white;
    margin-top: 10px;
    min-height: 600px;
}

.Template1 h2 {

    color:white;
}


.Template1 h3 {

    color:white;
}

.TopMenu {
    margin-top: 10px;
    background-color: transparent;
    color:wheat;
    margin-right: 240px;
    text-align: right;
    min-height: 30px;
    width: 80%;
}

.TopMenu .Icon {
    width:40px;
    height:40px;
    margin:6px;
    color:white;
    cursor: pointer;
}

.Template1 .ConnectButton {

    background:#349;
    color:white;
    margin-top:20px;
    border-radius: 30px;
    min-width: 240px;
}


.Template1 .BuyButton {
    font-weight: 600;
    border-radius: 30px;
    background:#396;
    color:white;
    margin-top:20px;
    min-width: 40%;
}

.Template1 .Logo {
    width:40%;
    height:auto;
    border-radius:300px;
    border:5px solid #aab;
}


.Template1 .TicketImage {
    width:60%;
    height:auto;
    margin: auto;
}

.Template1 .MessageView {

    background-color: #ddd;
    padding:10px;
    border-radius: 20px;
    margin-top: 20px;
}

.TicketCount {
    padding:0px 10px 6px 10px;
    background-color: #500;
    border-radius: 30px;
    min-width: 50px;
    height: 24px;
    margin-left: 10px;
}

.TicketsView {
    background-color: transparent;
    padding:20px 4px;
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
}

.TicketsView .row {
    color:wheat;
    font-weight: 500;
    background-color:transparent;
    margin-bottom:8px;
    padding:6px;
    border: 1px solid #ccd;
    border-radius: 20px;
}


.TicketsView .row:hover {
    cursor: pointer;
    background-color: #345;
}

.TicketTypes {
    margin: auto;
    max-width: 400px;
    padding:4px;
}

.TicketTypes .row {
    margin:2px;
    display: block;
    background-color: #022;
    color:wheat;
    height:43px;
    border-radius: 30px;
}

.TicketTypes .row div {
    display: inline-block;
    margin: 10px;
    padding: 2px;
}


.ant-popover-inner {
    background-image: linear-gradient(to right,#349, #002 );
    border-radius: 30px;
    padding:10px;
    color:white;
}

.ant-popover-arrow {
    background-image: linear-gradient(to right,#349, #002 );
}