.FormModal {
    background-color: transparent;
    padding:10px 10px 10px 20px;
    min-width: 1200px;
    min-height:400px;
}


.FormModal .ant-modal-content {
    border-radius: 20px;    
    background-image: linear-gradient(to right,#eee, #fff);      
}

.FormModal .ant-modal-header{
    border-radius: 30px 30px;    
    background-color:transparent;
    color:tomato;
    font-size: 30pt;
    margin:0 auto;
}

.FormModal .CloseButton {
    color:#666;
    margin-top: 6px;
    margin-bottom: 4px;
    display: block;
    background-color: transparent;
}


.CollectionForm {
    width:99%;
    padding:10px;
    border-radius: 20px;
    border: 1px solid #abc;
    min-height: 390px;
    margin: auto;
    margin-top: 10px;
}

.CollectionForm table {

    width:99%;
    padding:10px;
    margin:auto;
}

.CollectionForm table thead {

    font-weight: bolder;
    background-color: #dde;
}