.CollectionList{
    margin:auto;
    padding:4px;
    min-width: 98%;
}

.CollectionList thead {
    font-weight: bolder;
    background-color: #ccc;
}

.CollectionList tbody tr {

    color:black;
    background-color: transparent;
}

.CollectionList tbody tr:hover {

    background-color: #ded;
    color:#458;
    cursor: pointer;
}
