.PriceTypesForm {
    max-width: 90%;
}

 
.PriceTypesForm .header {
     display: table-header-group;
     font-weight: 600;
     background: transparent;
}


.PriceTypesForm .col {
    display: table-cell;
    padding:10px;
    margin:2px;
}

.PriceTypesForm .row {
    display: table-row;
    padding:10px;
    margin:2px;
    height:30px;
    text-align: justify;
 }
 
 .PriceTypesForm .item {
     background: #fff;
     cursor: pointer;
     height:30px;
 }
 
 .PriceTypesForm .item:hover {
     background: #dde;
     cursor: pointer;
     height:30px;
 }
 
 
 .PriceTypesForm .body {
     display: table-row-group;
 }
 