.InfoView {
    border-radius: 20px;
    min-width: 99%;
    padding:12px 4px 26px 4px;
    height:50px;
    margin: auto;
    border: 1px solid #ccd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(100, 100, 100, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
    margin-bottom: 10px;
}
