.NotSignedInDiv {
    padding:20px;
    max-width: 95%;
    margin:auto;
    border-radius: 30px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #fff , #dde);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.NotSignedInDiv .Logo {

    max-width: 150px;
    max-height: auto;
    margin:auto;
}

.InfoView {
    margin: auto;
    background-image: linear-gradient(to right, #07d , #222);
    color:white;
    font-weight:bolder;
    border-radius: 60px;
    margin-top: 15px;
    min-height: 150px;
    max-width:600px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.InfoView:hover {
    background-image: linear-gradient(to right, #063 , #222);
    cursor: pointer;
}

.InfoView div {

    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-left: 30px;
    font-size: 24px;
    color: white;
}

.NotSignedInDiv .LaunchAppButton {

    display: block;
    margin: auto;
    margin-top:30px;
    background:#333; 
    color:white;
    height:50px;
    min-width: 280px;
    padding: 2px 20px 2px 20px;
    border-radius: 30px;
    font-weight: 600;

}

.NotSignedInDiv .LaunchAppButton:hover {

    background:#348; 
    color:white;
}


.NotSignedInDiv .LaunchAppButton:focus {

    background:#533; 
    color:white;   
}
