.NotSignedInDiv {
    padding:10px;
    max-width: 95%;
    margin:auto;
    border-radius: 30px;
    margin-top: 30px;
    background-color: transparent;
}

.NotSignedInDiv .Logo {

    max-width: 160px;
    max-height: auto;
    margin:auto;
}

.InfoView {

    max-width:600px;
    margin: auto;
    background-image: linear-gradient(to right, #07d , #222);
    color:white;
    font-weight: 600;
    border-radius: 30px;
    margin-top: 30px;
    min-height: 120px;
    font-size: 20px;
}

.NotSignedInDiv .LaunchAppButton {

    display: block;
    margin: auto;
    margin-top:30px;
    background:#333; 
    color:white;
    height:50px;
    min-width: 280px;
    padding: 2px 20px 2px 20px;
    border-radius: 30px;
    font-weight: 600;

}

.NotSignedInDiv .LaunchAppButton:hover {

    background:#348; 
    color:white;
}


.NotSignedInDiv .LaunchAppButton:focus {

    background:#533; 
    color:white;   
}
